on: [push]

jobs:
  kubectl_job:
    runs-on: ubuntu-latest
    name: Download kubectl on your deployment machine on github or private runner
    steps:
    - name: action step
      id: kubectl
      uses: laurijssen/kubectl-action
      with:
        kubectl-version: 'v1.26.0'
    - name: Get the output time
      run: echo "The time was ${{ steps.kubectl.outputs.time }}"
